#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
}
#resetbtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 300px;
    height: 70px;
    border: 8px solid;
    border-radius: 15px;
    cursor: pointer;
}